scripts/data-extraction/__pycache__
scripts/data-extraction/sentinelconfig.py
scripts/data-extraction/request_output/
scripts/data-extraction/request_output_moisture/

scripts/sh-script-batch/
qgis/**.qgz
.DS_Store
